.upload-container {
    width: 50%;
    height: 75px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f7f7f7;
    cursor: pointer;
    
}

.hidden-input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.drag-label {
    font-size: 18px;
    color: #555;
    text-align: center;
    pointer-events: none;
}